body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    color: #323232;
    font-weight: 400;
    background-color: #849d8f;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.site-wrapper {
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;
}

.slider-wrapper {
    min-width: 940px;
    background-color: #849d8f;
    background-image: url("creme-brulee-and-ice-cream-with-raspberry-jam.png");
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
    min-height: 100vh;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("chocolate-sundae-and-lemon-sorbet.png");
}

.site-wrapper::after {
    background-image: url("ice-cream-with-fondant-and-strawberry-sorbet.png");
}

.site-wrapper-catalog {
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header-logo {
    margin-right: 24px;
}

.menu {
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 385px;
    justify-content: space-between;
    list-style: none;
}

.main-header {
    padding-top: 9px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu-link {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 7px 14px;
}

.menu-link:hover {
    color: #323232;
    background-color: #f7f6f3;
    border: 10px;
    border-radius: 40px;
}

.menu-link:active {
    box-shadow: inset 0px 2px 1px 0 #696969;
    background-color: #ededed;
}

.menu-navigation {
    display: flex;
    align-items: center;
}

.user-navigation {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    width: 246px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    list-style: none;
}

.user-navigation li {
    margin-right: 9px;
}

.search-icon {
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 34px;
    height: 34px;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.search-icon::after {
    content: '';
    width: 17px;
    height: 17px;
    background-image: url("../img/loupe.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.search-icon:hover form {
    display: block;
}

.search-icon form {
    position: absolute;
    display: none;
    right: 0;
    top: 34px;
    width: 341px;
    height: 84px;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}

.search-icon input {
    margin-left: 15px;
    margin-top: 20px;
    padding: 0;
    width: 311px;
    height: 44px;
    border: solid 1px #d3d3d2;
    background-color: #ffffff;
}

.login-form {
    margin: 0;
    padding: 0;
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
}

.login {
    position: relative;
    margin: 0;
    width: 93px;
    box-sizing: border-box;
    display: block;
    padding: 10px 0;
    padding-left: 28px;
    background-color: red;
    border-radius: 50px;
    opacity: 0.2;
    text-align: center;
}

.login::after {
    content: '';
    width: 22px;
    height: 21px;
    left: 16px;
    top: 7px;
    opacity: 1;
    position: relative;
    background-image: url("../img/entrance.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.login-form form {
    position: relative;
    display: none;
    flex-wrap: wrap;
    width: 277px;
    height: 215px;
    border-radius: 5.1px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}

.login-form:hover form {
    display: block;
}

.login-form-link {
    padding: 0;
    margin: 0;
    width: 118px;
    height: 35px;
    list-style: none;
}

.login-link {
    padding-bottom: 8px;
    margin: 0;
    font-size: 13px;
    line-height: 1.85;
    color: #323232;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}

.login-form p {
    margin: 0;
    padding-left: 15px;
    padding-top: 20px;
}

.login-form input {
    width: 241px;
    height: 44px;
    border-radius: 5px;
    border: solid 1px #d3d3d2;
    background-color: #ffffff;
}

.login-form input:nth-child(2n+2) {
    margin-top: 0px;
}

.login-button {
    margin-left: 15px;
    margin-top: 20px;
    display: inline-block;
    padding: 13px 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    color: #fefefe;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 25px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
}

.login-button:hover {
    background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.login-button:active {
    background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.user-info {
    width: 100%;
    height: 41px;
    margin-left: auto;
}

.user-info p {
    margin-bottom: 8px;
    padding: 0;
    font-size: 14px;
    line-height: 1.14;
    color: #ffffff;
    text-align: right;
}

.user-info-link {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.09;
    color: #ffffff;
}

.slider {
    position: relative;
    padding-top: 321px;
    text-align: center;
    color: #ffffff;
}

.slide {
    display: none;
}

.slider-controls {
    position: absolute;
    bottom: 63px;
    left: 0;
    z-index: 20;
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#slider-creme-brulee:checked~.slider-wrapper {
    background-color: #849d8f;
    background-image: url("creme-brulee-and-ice-cream-with-raspberry-jam.png");
}

#slider-chocolate:checked~.slider-wrapper {
    background-color: #8996a6;
    background-image: url("chocolate-sundae-and-lemon-sorbet.png");
}

#slider-sorbet:checked~.slider-wrapper {
    background-color: #9d8b84;
    background-image: url("ice-cream-with-fondant-and-strawberry-sorbet.png");
}

.slide-creme-brulee:checked~.slider-wrapper #slide-creme-brulee,
.slide-chocolate:checked~.slider-wrapper #slide-chocolate,
.slider-sorbet:checked~.slider-wrapper #slide-sorbet {
    display: block;
}

.slide-creme-brulee~.slider-wrapper label[for="slider-creme-brulee"],
.slide-chocolate:checked~.slider-wrapper label[for="slider-chocolate"],
.slider-sorbet:checked~.slider-wrapper label[for="slider-sorbet"] {
    background-color: #ffffff;
}

.slider li {
    list-style: none;
}

.slider h3 {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    color: #ffffff;
}

.slider a {
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.38;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.slider-link {
    width: 280px;
    height: 64px;
    padding: 12px 44px;
    border-radius: 50px;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    background-image: linear-gradient(to top, #e74a35, #f26843);
    cursor: pointer;
}

.slider-link:hover {
    background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-link:active {
    background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.stocks {
    padding-top: 41px;
}

.stocks ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stocks h3 {
    margin: 0;
    padding-top: 23px;
    padding-left: 20px;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.17;
    color: #ffffff;
}

.stocks p {
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 46px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.22;
    color: #ffffff;
}

.stocks a {
    margin-left: 350px;
    margin-top: 45px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    text-align: center;
    color: #ffffff;
}

.stocks-link {
    width: 189px;
    height: 45px;
    opacity: 0.99;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    background-image: linear-gradient(to top, #e74a35, #f26843);
    border-radius: 40px;
    padding: 14px 22px;
    cursor: pointer;
}

.stocks-link:hover {
    background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.stocks-link:active {
    background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.raspberry {
    padding: 0;
    margin: 0;
    width: 560px;
    height: 229px;
    background-image: url("../img/raspberries-background.jpg");
    border-radius: 15px;
}

.chocolate {
    padding: 0;
    margin: 0;
    width: 560px;
    height: 229px;
    background-image: url("../img/chocolate-background.jpg");
    border-radius: 15px;
}

.advantages {
    padding: 0;
    margin-bottom: 40px;
    width: 1146px;
    height: 306px;
    border-radius: 15px;
    background-image: url("../img/waffles-background.jpg");
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {
    padding: 0;
    margin-right: 91px;
    margin-bottom: 26px;
    font-size: 16px;
    line-height: 1.38;
    list-style: none;
    width: 470px;
}

.advantages-item:nth-child(2n+2) {
    margin-right: 0px;
    margin-bottom: 0px;
}

.advantages p {
    padding: 0px;
    margin-top: 26px;
    margin-left: 21px;
    width: 1013px;
    height: 54px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25;
}

.news-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 39px;
}

.hot-news {
    background-image: url("../img/sherbet.jpg");
    width: 560px;
    height: 220px;
    border-radius: 15px;
    width: 560px;
    height: 220px;
    border-radius: 15px;
}

.hot-news h2 {
    margin: 0px;
    padding-left: 20px;
    padding-top: 26px;
    color: #323232;
    font-size: 16px;
    font-weight: 700;
}

.news-link {
    padding-top: 13px;
    padding-left: 20px;
    margin: 0;
    width: 279px;
    height: 84px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    color: #323232;
    text-decoration: none;
    display: block;
}

.mailing {
    background-image: url("../img/postmail-background.jpg");
    width: 560px;
    height: 220px;
    border-radius: 15px;
    display: flex;
}

.mailing div {
    padding: 0;
    margin: 5px;
    width: 549px;
    height: 211px;
    border-radius: 10px;
    background-color: #f8f7f4;
}

.mailing p {
    padding: 0px;
    margin-left: 20px;
    margin-top: 33px;
    width: 506px;
    height: 61px;
    font-size: 16px;
    line-height: 1.38;
    color: #5a5a5a;
}

.mailing input {
    padding: 0;
    margin-bottom: 36px;
    margin-left: 20px;
    width: 368px;
    height: 44px;
    border-radius: 5px;
    border: solid 1px rgba(178, 178, 178, 0.52);
    background-color: #ffffff;
}

.mailing button {
    margin-bottom: 36px;
    margin-left: 11px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    text-align: left;
    color: #fefefe;
    display: inline-block;
    padding: 14px 24px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 40px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
}

.mailing button:hover {
    background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.mailing button:active {
    background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.map {
    width: 1200px;
    height: 430px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.adress-info {
    padding: 0;
    margin-left: auto;
    display: block;
    position: relative;
    right: 27px;
    top: 368px;
    padding-top: 32px;
    padding-left: 25px;
    padding-right: 57px;
    width: 302px;
    height: 305px;
    background-color: #ffffff;
    border-radius: 10px;
}

.adress-info p {
    margin: 0px;
    padding-bottom: 9px;
    width: 148px;
    font-size: 14px;
    line-height: 1.43;
    display: block;
    flex-wrap: wrap;
}

.adress-info span {
    padding-top: 12px;
    padding-bottom: 9px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    display: block;
}

.adress-info p:nth-child(2n+2) {
    padding-bottom: 23px;
    width: 225px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
}

.adress-info p:nth-child(3n+3) {
    padding-bottom: 39px;
    width: 172px;
}

.adress-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    color: #fefefe;
    width: 252px;
    height: 44px;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    background-image: linear-gradient(to top, #e74a35, #f26843);
    border-radius: 40px;
    padding: 13px 28px;
}

.main-footer a,
.main-footer p {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    line-height: 1.33;
    color: #fefefe;
}

.main-footer {
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
}

.footer-socials {
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-right: 270px;
    list-style: none;
}

.footer-socials li {
    margin-right: 11px;
}

.footer-socials li:nth-child(4n+4) {
    margin-right: 0px;
}

.footer-list {
    margin: 0;
    padding: 0;
    width: 161px;
    height: 13px;
    font-size: 13px;
    line-height: 1.38;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 310px;
}

.footer-list li {
    margin-right: 32px;
}

.footer-list li:nth-child(2n+2) {
    margin-right: 0px;
}

.suppliers {
    font-size: 13px;
    font-weight: 700;
}

.popup {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate( -50% -50%);
    margin: 0;
    padding: 0;
    width: 478px;
    height: 443px;
    border-radius: 10px;
    background-color: #f8f7f4;
    display: none;
}

.popup h2 {
    padding-left: 24px;
    padding-top: 20;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 500;
    color: #323232;
}

.popup-form {
    padding-left: 24px;
    padding-top: 24px;
    margin: 0px;
    text-align: left;
}

.submit-popup {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    text-align: left;
    color: #fefefe;
    display: inline-block;
    padding: 14px 24px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 40px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
}


/*----catalog---- */

.catalog-menu {
    padding: 0px;
    margin: 0px;
    display: none;
    list-style: none;
    width: 220px;
    height: 11px;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    color: #ffffff;
}

.new {
    font-weight: 500;
}

.basket-full {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: #323232;
    display: flex;
}

.basket-full div {
    padding: 0;
    width: 540px;
    height: 242px;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}

.basket-full td {
    color: #323232;
    font-size: 13px;
}

.basket-full span {
    font-size: 13px;
    color: #b8b8b7;
}

.basket-full a {
    margin-bottom: 36px;
    margin-left: 11px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    text-align: left;
    color: #fefefe;
    display: inline-block;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 40px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
}

.basket-full a:hover {
    background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.basket-full a:active {
    background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.catalog-title {
    padding: 0px;
    margin: 0px;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.17;
    color: #ffffff;
}

.breadcrumbs {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 220px;
    height: 11px;
}

.breadcrumbs a,
.breadcrumbs li {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    line-height: 1.14;
    color: #ffffff;
}

.catalog-fast-view {
    width: 200px;
    height: 44px;
    padding: 13px 17px;
    border-radius: 40px;
    box-shadow: 0px 1px 2px 0 #ac1000;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    text-align: center;
    color: #fefefe;
    cursor: pointer;
}

.catalog-fast-view:hover {
    background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.catalog-fast-view:active {
    background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.assortment a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    text-align: center;
    color: #ffffff;
}

.assortment p {
    padding: 0px;
    margin: 0px;
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    text-align: center;
}

.weight {
    font-size: 30px;
    line-height: 1.5;
}

.assortment img {
    border-radius: 50%;
}

.assortment h3 {
    padding: 0px;
    margin-bottom: 11px;
}

.assortment-container {
    padding: 0px;
    width: 1146px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.assortment-container li {
    width: 267px;
    margin-right: 26px;
}

.assortment-container li:nth-child(4n+4) {
    margin-right: 0;
}

.pagination {
    font-size: 16px;
    font-weight: 500;
    width: 200px;
    line-height: 1.13;
    color: #ffffff;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: auto;
}

.produced {
    margin-left: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 189px;
    height: 12px;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: #fefefe;
}

.fog {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #8996a6;
    display: none;
}